h1
{
	text-align:center;
	text-decoration:underline;
	text-transform:uppercase;
 
}
.center
{
	text-align:center;
	text-decoration:underline;
	text-transform:uppercase;
}
h5
{
	text-align:center;
}
h3
{
	text-align:center;
}